/* Dark mode */
.theme-dark {
    background-color: rgb(22, 22, 22);
    color: white;
}

.leftContainer.dark-bloc{
    background-color: rgb(3, 45, 73);
}

.rightContainer.dark-bloc{
    background-color: rgb(14, 76, 92);
}

/* Liens */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}


/* body */
body{
    color: black;
}

/* Header */
header{
    position: relative;
    background-color: rgb(42, 89, 120);
    height: 6rem;
    width: 100%;
    border-radius: 3rem;
    text-align: center;
    padding-top: 11px;
    margin-bottom: 5px;
}

h1{
    margin: 0px;
}

#titre{
    font-size: 1.2rem;
}

#theme-switch{
    border-radius: 7px;
    width: 27px;
    height: 25px;
    background-color: black;
    position: absolute;
    right: 45px;
    bottom: 5px;
    color: yellow;
}

#photo{
    max-width: 20%;
    border-radius: 3rem;
    position: relative;
    left: -35%;
    bottom: 75%;
    box-shadow: 10px 10px 20px black;
    max-height: 190%;
}

/* Main */
main{
    display: flex;
    justify-content: space-between;
}


/* Left bloc */
.leftContainer{
    height: fit-content;
    width: 30%;
    border-radius: 3rem;
    background-color: gray;
}

.coordonnes{
    padding-top: 85px;
}

.leftContainer p{
    margin : 0px 0px 0px 10px;
}

h2{
    margin-bottom: 0px;
    text-align: center;
}
.adresse, .phone, .mail, .permis, .github, .badge-base{
    display: flex;
    align-items: center;
    margin : 9px 6px 0px 10px;
}

ul{
    list-style-type: "✎  ";
    padding-left: 35px;
}


/* Right bloc */
.rightContainer{
    height: 800px;
    width: 69%;
    border-radius: 3rem;
    background-color: rgba(94, 43, 27, 0.753);
}

.rightContainer h2{
    margin-left: 30px;
    text-align: left;
}

.rightContainer p{
    margin: 10px 0px 0px 10px;
}